/* CSS declarations go here */

div#render-target {
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  /*vertical-align: middle;*/
  display: table;
  background-image: url("images/skogafoss.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.titles {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background-color:rgba(0, 0, 0, 0.3);
  color: white;
}

.big-font {
  font-size: 49.5pt;
}

.medium-font {
  font-size: 32pt;
}

.small-font {
  font-size: 20pt;
}

.small-margin {
  margin: 0;
}

.transparent-button {
  font-size: 6vw;
  background: none;
  color: #C9C9C9;
  border: none;
  display: block;
    width:100%;
    position: absolute;
    bottom:20px;
    text-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.transparent-button:hover {
    color: white;
}

#wrapper {

}
